#main {
    margin-top: 5%;
}

.img-container {
    margin: 3%;
}

p {
    margin: 0;
    padding: 0;
}

.btn-and-space {
    margin-bottom: 10px;
}

.my-box {
    max-width: 350px;
}

.command {
    margin-top: 40%;
    text-align: center;
    font-size: 20pt
}

.panel-body {
    padding: 8px 15px 8px 15px;
}

body.cardinal {
    background-color: black;
    color: white;
}

#preview-frame-box {
    max-width: 400px;
}

.loading-inner {
    color: gray;
    margin: 20px;
}

.loading-outer {
    width: 100%;
    text-align: center;
}
