#main {
    margin-top: 5%;
}

.img-container {
    margin: 3%;
}

.btn-and-space {
    margin-bottom: 10px;
}

.my-box {
    max-width: 350px;
}

.command {
    margin: 20%;
    font-size: 20pt
}

body.cardinal {
    background-color: black;
    color: white;
}

#preview-frame-box {
    max-width: 400px;
}
